<nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1" style="color: white;font-weight: bold;font-size: 30px;">OnlyChat</span>
    <blockquote class="blockquote text-right">
        <p style="font-size: 20px; color: white;">Anda login sebagai : User   ADMIN</p>

    </blockquote>  
</nav>