<nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1" style="color: white;font-weight: bold;font-size: 30px;"><a href="" style="text-decoration: none;color: white;"> OnlyChat</a></span>
    
    
</nav>