<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('./partials/style.ejs')%>
</head>

<body>
    <%-include('./partials/navbar.ejs')%>
    <br>
    <a href="/addpost/<%= user.id%>" class="btn btn-primary">add post</a>
    <div class="container-post">
        <form action="" method="get">
<input type="text" name="search" style="width: 70%; border-radius: 5px; margin-bottom: 15px;"> <input type="submit" value="search">
</form>
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6>date post</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p><b>Tag : </b>Belajar, politik, membaca</p> 
          <a href="#" class="btn btn-success">Like 0</a> <a href="#" class="btn btn-warning"> Dislike 0</a>  <a href="" class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
    <div class="container-post">
        <div class="card w-75">
            <div class="card-body">
              <h3 class="card-title">Makan Sayur</h5>
              <h6>date post</h6>
              <p class="card-text">Saya galau politik semakin kacau</p>
              <p><b>Tag : </b>Belajar, politik, membaca</p> 
              <a href="#" class="btn btn-success">Like 0</a> <a href="#" class="btn btn-warning"> Dislike 0</a> <a href="" class="btn btn-danger">delete</a>
            </div>
          </div>
        </div>
</body>
</html>