<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/style.ejs')%>
    <title>Login OnlyChat</title>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
    <form>
        <div class="container-login">
            <h2>Login Dulu Gays</h2>
            <hr>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control"placeholder="Enter Username" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="regprofile" class="btn btn-success">register Now</a>
    </div>
</body>
</html>