<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Profiles</title>
    <%-include('./partials/style.ejs')%>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
    <div class="container-login">
        <form action="/regprofile" method="post">
            <h2>Form Registration</h2>
            <hr>
            <% if(errMsg) { %>
              <p style="color: red; font-weight: bold;"><%= errMsg %></p>
          <% } %>
        <div class="form-group">
          <label for="exampleInputName">Full Name</label>
          <input type="text" name="fullName" class="form-control"placeholder="Enter Yourname" >
        </div>
        <div class="form-group">
          <label>Date Of Birth</label>
          <input type="date" class="form-control" name="dateOfBirth" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label>Your Photo profile</label>
            <input type="file" class="form-control" name="imgProfile">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="bio" rows="3"></textarea>
          </div>
          <br>
         <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>