<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/style.ejs')%>
    <title>Register Password</title>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
    <div class="container-login">
        <form>
                <h2>Your profile</h2>
                <hr>
                <p><b> Name</b></p>
                <p><b>Date Of Birth</b></p>
                <p><b>Profile Picture</b></p>
                <p><b>Bio</b></p>
                <p>Please prepare a username and password that you can easily remember</p>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control"placeholder="Enter Username" >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <label for="">Role</label><br>
            <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
              <br>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>